body {
    background-color: mistyrose;
}
h1{
    text-align:center;
    color:rosybrown;
    font:bold;
}
p{
    color:black;
    font:italic;
    text-align:center;
}
ul{
    text-font:italic;
}
img{
    position:center;
    width: 400px;
    height: auto;
    display: block;
    margin: 20px auto;
}
p3{
    text-font:underline;
    text-align:center
}
